<!DOCTYPE html>
<html>
<head>
   @Html.Partial("_Head")
</head>
<body>

    <header>
        <div class="content-wrapper">
            @Html.Partial("_header")
        </div>
    </header>
    <div class=" body-content">
        @RenderBody()
       
    </div>
    <footer>
        <div class="content-wrapper">
            <div>
                @Html.Partial("_Footer")
            </div>
        </div>
    </footer>

</body>
</html>
