
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class=" container-fluid">
    <div class="row">

        <div class="col-3 fs-4">
            Name
        </div>
        <div class="col-3 fs-4 ">
            Product Category
        </div>
        <div class="col-3 fs-4">
            Price
        </div>
        <div class="col-3 fs-4 ">
            Total
        </div>
    </div>

    <div class="row pt-5">

        <div class="col-3">
            <img src="~/images/plastic_chair.jpg" />
        </div>
        <div class="col-3">
            <span class="fs-3">Kitchen</span>
        </div>
        <div class="col-3">
           <a <span class="fs-3" href="">Remove Item</span></a>
        </div>
        <div class="col-3">
            <span class="fs-3"> $239.00</span>
        </div>
    </div>
</main>
