<footer class="border-top mt-5 bg-dark">
    <div class="container mt-5 pt-3 ">
        <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                <ul class="nav flex-column ps-3">
                    <li class="nav-item"><h6 class="fw-bold ps-3">Polices</h6></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Returns & Exchanges</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Payment Terms</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Delivery Terms</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Payment & pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Terms of Use</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                <ul class="nav flex-column ps-3">
                    <li class="nav-item"><h6 class="fw-bold ps-3">Informations</h6></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">About Us</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Careers</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Orders & Shipping</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Office Supplies</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Contact US</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Customer Service</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                <ul class="nav flex-column ps-3">
                    <li class="nav-item"><h6 class="fw-bold ps-3">Customer Care</h6></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Track your Order</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">News & Events</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Contact Us</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Customer Service</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted">Product Support</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                <ul class="nav flex-column ps-3">
                    <li class="nav-item"><h6 class="fw-bold ">Contact Us</h6></li>
                    <li class="nav-item text-muted">Call us 24/7</li>
                    <li class="nav-item text-muted mt-2"><p class=" text-danger">(+01)850-315-9168</p></li>
                    <li class="nav-item text-muted">Walls Street 68, Mahattan,New York,USA contact@@shopbuy.co</li>
                    <li class="nav-item"><a class="px-3" href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li class="nav-item"><a class="px-3" href="#"><i class="fa fa-instagram"></i></a></li>
                    <li class="nav-item"><a class="px-3" href="#"><i class="fa fa-twitter-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-6 md-lg-6 border-top pt-5 text-muted">
                <p>Copyright&copy; Velatheme. All Right Reserved.</p>
            </div>
            <div class="col-12 col-md-6 md-lg-6 border-top pt-5 text-end">
                <a href="#"><img class="image" src="~/images/debitcard-image1.png" /></a>
                <a href="#"><img class="image" src="~/images/debitcard-image2.png" /></a>
                <a href="#"><img class="image" src="~/images/debitcard-image3.png" /></a>
                <a href="#"><img class="image" src="~/images/debitcard-image4.png" /></a>
                <a href="#"><img class="image" src="~/images/debitcard-image5.png" /></a>
            </div>
        </div>
    </div>
</footer>

